body
{
	background-color:powderblue;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
}

.center
{
	text-align:center;
}



div
{
	position: relative;
}

.centerOnPage
{
	padding: 50px;
	width: 350px;
	margin-left:-175px;
	position: absolute;
	left: 50%;
	/*color: white;*/
}




