body
{
	 background-color:powderblue;
	 font-family:arial;
	 width: 100%;
}

.center
{
	text-align:center;
}

div
{
	position: relative;
}

.centerOnPage
{
	padding: 10px;
	width: 350px;
	margin-left:-175px;
	position: absolute;
	left: 50%;
	/*background-color: white;*/
}